<body>
<h1>Dice Game</h1>

<% @dice.each do |die|%>
	<img src="https://uchicago.s3.amazonaws.com/d0<%= die%>.png" width="100" height="100">
<% end %>
<p>DICE-WIN-LOSE <%= @sum%></p>
<p><%= @winlose%></p>

<form method="routes.rb" action='dicegamefirst'>
<input type="submit" value="Start Again">
</form>
</body>


