<body>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<h1>Dice Game</h1>

<% @dice.each do |die|%>
	<img src="https://uchicago.s3.amazonaws.com/d0<%= die%>.png" width="150" height="150">
<% end %>

<p>You rolled a  <%= @sum%></p>
<p>Continue, your goal is still <%= @goal%></p>

<p>
	<form method="routes.rb" action="dicegame" >
	<button type="submit" class="btn btn-primary btn-lg" >Roll Again</button>
	<input type="hidden" name="goal" value = "<%= @goal %>" hidden = yes>
	</form>
</p>
</body>
