<h1>Dice Game</h1>

<% @dice.each do |die|%>
	<img src="https://uchicago.s3.amazonaws.com/d0<%= die%>.png" width="100" height="100">
<% end %>

<p>SUM WINLOSE <%= @sum%></p>
<%= @winlose%>
<p>Your goal is <%= $goal%></p>

<form method="routes.rb" controller: "dicegamefirst" action:"dicegamefirst">
<input type="submit" name="button1"  value="Start Again">
</form>



