<body>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

<h1>Dice Game</h1>
<h2>Welcome</h2>
<p>Here are the rules:</p>
	<div>
		<ul>
			<li>Roll the dice to start the game</li>
			<li>If your first roll is a 7 or 11, you win</li>
			<li>Anything else becomes your <em>goal</em>. Roll your goal again before rolling a 7, and you win. Roll a 7 instead of your goal, and your lose.</li> 
		</ul>
	</div>


<p>
</p>

	
<p>
	<form method="routes.rb" action="dicegamefirst" >
	<button type="submit" class="btn btn-primary btn-lg" >Roll to start the game!</button>
	</form>
</p>

</body>